.Header{
    display: flex;
    width: 100%;
}
.Header-Logo {
}
.Header-owner{
    height: 68px;
    border-radius: 8px;
    border: 2px solid #fff;
    margin: 5px;
}
.Header-right {
    margin-left: calc(100%/15);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
}
.Header-links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Header-links a {
    color: #ffffff;
    margin-right: 9.5%;
    text-align: center;

}

